# Ignore for server (Node.js)
server/node_modules/
server/.env
server/CustomFiles/
server/google-drive.json
server/temp/


# Ignore for client (React.js)
client/node_modules/
client/.env
client/.env.production


Python-Server/.env

